body {
	position:relative;
	min-height: 100%;
 	 min-height: 100vh;
	background-color: #444;
	color:#fff;
	margin:0;
	padding:0px 0px 10px 0px;
	overflow:hidden;
}

.container {
	width:80%;
	margin: 0 auto;
	padding:0;
}

header{
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom:20px;

}

header.start{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
a{
	text-decoration:none;
	color:white;
}
a:hover{
	opacity: 0.5;
} 
ul{
	list-style-type:none;
	padding-left:0px;
	margin:0;
}
li{
	display:inline-block;
	margin-right: 20px;
}
li #user_name{
	color:yellow;
}

#current{
	color:#3369ff;
}

.defaultHidden{
	display:none;
}
.uppercase{
	text-transform: uppercase;
}

.yellow{
	color: yellow;
}

.form-signin{
	width:220px;
	padding:15px 15px 15px 0px;
	margin:0 auto;
}

.inline-block{
	display:inline-block;
}

.form-signin .form-control {
	position: relative;
	width:100%;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin input[name="validate_password"] {
	margin-bottom: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.alert-danger {
	background-color: #ff0000;
	color:#ffffff;
	padding:20px;
	font-size:16px;
}

.alert-success {
	background-color: #00ff00;
	color:#ffffff;
	padding:20px;
	font-size:16px;
}

.btn {
	height:auto;
	font-size: 16px;
	padding: 5px;
	margin-right: 5px;
	background-color: #3369ff;
	color: #ffffff;
}

.btn:hover{
	opacity:0.8;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.card {
	position:relative;
	width:100%;
	height:80vh;
	line-height: 80vh;
	background-color: white;
	text-align:center;
	border:5px solid black;
}
.listOfCards{
	float:right;
	clear:both;
	width: 25vw;
	height: 50vh;
}
.center{
	text-align: center;
}

.top-margin{
	margin-top:2rem;
}

footer{
	position:absolute;
	right:0;
	bottom:0;
	left:0;

    width: 100%;
    color: white;
    text-align: center;
	}
button#nextCardButton{
	float:right;
	margin-right:0;
}

#cardSelect{
	background-color: white;
	color: black;
	font-size: 20px;
	width: 100%;
	height: 100%;
	display:block;
}

#current_card{
	color:black;
	font-size: 80px;
}

@media screen and (max-width:768px){
	body{
		font-size:12px;
		overflow:visible;
	}

	header{
		padding-top:5px;
		padding-bottom:5px;
		margin-bottom:0px;
	}

	li{
		margin-right:
		10px;
	}
	.listOfCards{
		float:none;
		width: 100%;
		height: 15vh;
	}
	.defaultHidden{
		display:initial;
	}
	.form-signin .form-control {
	position: relative;
	width:100%;
	height: auto;
	box-sizing: border-box;
	padding: 5px;
	font-size: 12px;
	}

	#cardSelect{
	font-size: 12px;
	width: 100%;
	height: 100%;
	}

	.btn{
		font-size:12px;
		padding:2px;
		margin:right:2px;
	}

	#current_card{
	font-size: 40px;
	}

}
